/* General body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

/* Styling for the App component */
.App {
    text-align: center;
}

/* Styling for the Header component */
.header {
    background-color: #f5ba13;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styling for the Footer component */
.footer {
    background-color: #f5ba13;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Styling for the Note component */
.note {
    background-color: white;
    border-radius: 7px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    width: 300px;
}

    .note h1 {
        margin: 0 0 10px;
        font-size: 1.5em;
    }

    .note p {
        margin: 0;
        font-size: 1.1em;
    }
